/node_modules
/public/hot
/public/storage
/public/scriptSAT/archivos-csv/*
/public/scriptSAT/archivos-layouts/*
/storage/*.key
/storage/archivostra/*.tra
/storage/archivoscsv_timbrado/*.Csv
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
